.idea

/lib/**
!/lib/certifi/
!/lib/certifi/**
!/lib/renpy/
!/lib/renpy/lib/
!/lib/renpy/lib/**/
!/lib/renpy/lib/**/_ssl.pyd
!/lib/renpy/lib/**/_ssl.so
!/lib/renpy/lib/**/ssl.pyo

# build script
renpy.7z.exe
*.tmp
